Screen {
    align: center middle;
}
#clock {
    width: auto;
}

GetDuration {
    align: center middle;
}

GetDuration > Container {
    width: 80%;
    height: 80%;
    background: $panel;

}

#header {
    align: center middle;
    background:gray;
    padding: 1 2;
}
GetDuration > Container > Horizontal{
    width: auto;
    height: auto;
    padding: 2 2;
    background: $boost;

    Label {
        margin: 2;
        padding: 1 2;
        text-align: center;
        background: $panel;
        }
    MaskedInput {
        margin: 0 4;
        width: auto;
        background: $panel;
    }
}
